submit/
submit.zip

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/

hw1/data/
hw1/rob831.egg-info/

hw2/data/
hw2/rob831.egg-info/
hw2/data_og/
hw2/run_logs/

hw3/data/
hw3/rob831.egg-info/

